body {
  width: 90%;
  margin: 50px auto;
  color: #222;
  font-family: Arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

td {
  padding: 15px;
  border: 1px solid black;
}

.page-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

article {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-header {
  text-align: center;
  margin-bottom: 10px;
}

.article-body {
  letter-spacing: 1px;
}
