* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #222;
  letter-spacing: 1px;
  font-family: Arial;
  background: #bbb;
}

table {
  border: 1px solid black;
  width: 100%;
}

.page-content {
  width: 90%;
  margin: 30px auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

table {
  margin: 10px 0;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid black;
  letter-spacing: 1px;
  border: none;
  outline: none;
}

.btn-create {
  text-decoration: none;
  background: blue;
  color: white;
  margin: 10px 0;
}
